/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
*/

@import '../../styles/variable.scss';
@import '../../styles//responsive.scss';

.navbar {
  width: 100%;
  // background: green; 
  // border: .1rem solid salmon;
  border-bottom: .1rem solid rgb(227, 225, 225);
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;

  .leftNavbar {
    // border: .1rem solid green;

    img {
      width: 15rem;
      // height: 5rem;
    }
  }

  .rightNavbar {
    .toogles {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 2rem;
      border: .1rem solid white;

      .profile {
        // border: .1rem solid salmon;
        background: #fff;
        width: 15rem;
        height: 15rem;
        position: absolute;
        display: none;
        padding: 1rem;
        // transition: .5s linear;

        ul {
          li {
            list-style: none;
            // border: .1rem solid salmon;
            border-bottom: .1rem solid rgb(158, 158, 158);
            height: 4rem;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            // justify-content: center;
          }
        }
      }

      .profile.on {
        // background-color: salmon;
        border: .1rem solid rgb(234, 231, 231);
        right: 2rem;
        top: 5.8rem;
        display: block;
      }

      .icon {
        color: #000;
        font-size: 1.6rem;
        cursor: pointer;
      }

      .iconBars {
        display: none;

        @include tablet {
          display: block;
        }
      }
    }
  }
}