$primary: #000000;
$background: #ffffff;

.navbar {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.navLinks {
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
    color: $primary;
    font-weight: 500;
  }
}

.signupButton {
  background: $primary;
  color: $background !important;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.loginButton {
  // background: $primary;
  border: 1px solid $primary;
  color: $primary !important;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}